body {
  overflow-x: hidden;
}

.outercontainor {

  height: 875px;
  position: relative;
}

.messageinputcontainor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 5%;
  height: 65px;
}

.messageinput {
  position: absolute;
  left: 0;
  width: 75%;

}
.input-field {
  margin: 10px;
}

#messageinput {
  background: white;
  height: 35px;
  border-radius: 5px;
}

.sendButton {
  float: right;
  width: 20%;
  margin: 15px;
}

.chatcontentcontainor {

}

.chatcontent {
  overflow-y: scroll;
  height: 750px;
}

/*Message*/

.messagecontainor {
  margin: 10px 5px;
}

.cardview {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;

  border-radius: 5px;
}

.sender {
  border-bottom: 1px white solid;
  width: 100%;
}

.messagecontent {
  background: white;
  border-radius: 5px;
  margin: 2.5px 0;
}

.sendimage {
  position: absolute;
  right: 0;
  margin-right: 22.5%;
  margin-top: 10px;
}



/*upload image*/

input .upload-containor {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
}



/*Event*/


.eventsButtons {
  position: absolute;
  top: 0;
}

.eventOptionsadd {
  position: absolute;
  top: 0px;
  right: 0px;
}



.eventOptionsview {
  position: absolute;
  top: 0px;
  right: 90px;
}

.calender {
padding-left: 2.5%;
}

.colThreeContainor {
  padding: 20px;
  height: 875px;
}


/* Menu */
.menuContainor {
  position: relative;
}

#logoutButton {

}



/* Map */
#map {
  height: 400px;
  width: 100%;
}













#
